<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pss.dao.system.RoleMapper">
	<resultMap type="com.pss.domain.model.entity.sys.Function"
		id="FunctionMapper">
		<id property="functionId" column="function_id" />
		<result property="url" column="url" />
		<result property="module" column="module" />
		<result property="title" column="title" />
	</resultMap>
	<select id="obtainFunction" parameterType="java.lang.String" resultMap = "UserMapper">
	    select * from function t,role_privalige t1 where t.function_id = t1.function_id and t1.role_id = #{roleId}
	</select>
</mapper>