<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName">
	<bean id="supplierService" class="com.pss.service.impl.SupplierService">
	</bean>
	<bean id="supplierRepository" class="com.pss.domain.repository.purchase.SupplierRepository">
	</bean>
	<bean id="prePurchaseService" class="com.pss.service.impl.PrePurchaseService">
	</bean>
	<bean id="prePurchaseRepository" class="com.pss.domain.repository.purchase.PrePurchaseRepository">
	</bean>
	<bean id="prePurchaseDetailService" class="com.pss.service.impl.PrePurchaseDetailService">
	</bean>
	<bean id="prePurchaseDetailRepository" class="com.pss.domain.repository.purchase.PrePurchaseDetailRepository">
	</bean>
	<bean id="goodService" class="com.pss.service.impl.GoodService">
	</bean>
	<bean id="goodRepository" class="com.pss.domain.repository.purchase.GoodRepository">
	</bean>
	<bean id="goodCategoryService" class="com.pss.service.impl.GoodCategoryService">
	</bean>
	<bean id="goodCategoryRepository" class="com.pss.domain.repository.purchase.GoodCategoryRepository">
	</bean>
</beans>
