<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pss.dao.system.UserMapper">
	<resultMap type="com.pss.domain.model.entity.sys.User" id="UserMapper">
		<id property="id" column="user_id" />
		<result property="tenant" column="tenant" />
		<result property="userName" column="user_name" />
		<result property="userPassword" column="user_password" />
		<result property="lastLoginTime" column="last_login_time" />
		<result property="status" column="status" />
		<result property="role.roleId" column="role_id" />
	</resultMap>

	<insert id="add" parameterType="com.pss.domain.model.entity.sys.User">
		insert into
		user(user_id,tenant,user_name,user_password,last_login_time,status,role_id)
		values(#{id},#{tenant},#{userName},#{userPassword},#{lastLoginTime},#{status},#{role.roleId});
	</insert>

	<delete id="delete" parameterType="java.lang.String">
		delete from user where
		user_id=#{id}
	</delete>

	<update id="update" parameterType="com.pss.domain.model.entity.sys.User">
		update user set user_name =
		#{userName},user_password = #{userPassword},role_id = #{role.roleId}
		where tenant = #{tenant} and user_id = #{id}
	</update>

	<select id="findById" parameterType="java.lang.String"
		resultMap="UserMapper">
		select * from user where user_id=#{userId}
	</select>

	<select id="findByEntity" parameterType="com.pss.domain.model.entity.sys.User"
		resultMap="UserMapper">
		select * from user where user_name = #{userName} and tenant
		= #{tenant}
	</select>

	<select id="queryByEntity" parameterType="com.pss.domain.model.entity.sys.User"
		resultMap="UserMapper">
		select * from user where user_name = #{userName} and tenant
		= #{tenant}
	</select>

	<select id="queryByParams" parameterType="java.util.Map"
		resultMap="UserMapper">
		select * from user where tenant = #{entity.tenant}
		<if test="entity.id!=entity.id">
			and user_id = #{id}
		</if>
		<if test="entity.userName!=null">
			and user_name like '%${entity.userName}%'
	    </if>
		<if test="entity.role.roleId!=null">
			and role_id = #{entity.role.roleId}
	    </if>
		limit
		#{offset},#{limit}
	</select>

	<select id="countByEntity" parameterType="com.pss.domain.model.entity.sys.User"
		resultType="java.lang.Integer">
		select count(*) from user where tenant = #{tenant}
		<if test="userId!=null">
			and user_id = #{id}
		</if>
		<if test="userName!=null">
			and user_name like '%${userName}%'
	    </if>
		<if test="roleId!=null">
			and role_id = #{roleId}
	    </if>
	</select>

	<select id="countByParams" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(*) from user where tenant = #{entity.tenant}
		<if test="entity.id!=null and entity.id!=''">
			and user_id = #{entity.id}
		</if>
		<if test="entity.userName!=null and entity.userName!=''">
			and user_name like '%${entity.userName}%'
	    </if>
		<if test="entity.role.roleId!=null and entity.role.roleId!=''">
			and role_id = #{entity.role.roleId}
	    </if>
	</select>

	<update id="updateLastLoginTime" parameterType="com.pss.domain.model.entity.sys.User">
		update user set
		last_login_time = #{lastLoginTime} where user_id = #{id}
	</update>
</mapper>