<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
	default-autowire="byName">
	<bean id="userService" class="com.pss.service.impl.UserService">
	</bean>
	<bean id="tenantService" class="com.pss.service.impl.TenantService">
	</bean>
	<bean id="tenantRepository" class="com.pss.domain.repository.system.TenantRepository">
	</bean>
	<bean id="userRepository" class="com.pss.domain.repository.system.UserRepository">
	</bean>
	<bean id="idRepository" class="com.pss.domain.repository.system.IdRepository">
	</bean>
</beans>
