<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- 定义系统从何处加载spring的配置文件 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext*.xml</param-value>
	</context-param>
	<!-- 配置struts2 -->
	<filter>
		<!-- filter名称 -->
		<filter-name>struts2</filter-name>
		<!-- filter对应类 -->
		<filter-class>
			org.apache.struts2.dispatcher.FilterDispatcher
		</filter-class>
		<!-- action所在包，struts2从这些包下面进行扫描 -->
		<init-param>
			<param-name>actionPackages</param-name>
			<param-value>com.pss.web.action</param-value>
		</init-param>
		<!-- 全局国际化资源文件 -->
		<init-param>
			<param-name>struts.custom.i18n.resources</param-name>
			<param-value>label,alt,msg,error,warn</param-value>
		</init-param>
	</filter>
	<!-- 定义映射方案 -->
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
		<!-- 定义可以进行dispatcher的几种情况 -->
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>
	<!-- 启动服务器时,加载对象-->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<!-- Struts2国际化配置 -->
	<servlet>
		<servlet-name>JSPSupportServlet</servlet-name>
		<servlet-class>
			org.apache.struts2.views.JspSupportServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
