<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context-3.0.xsd  
           http://www.springframework.org/schema/aop  
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd  
           http://www.springframework.org/schema/tx   
           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<!-- Extractors -->
	<bean id="contentExtract" class="com.extract.ContentExtract" />
	<bean id="decodingExtract" class="com.extract.Decoding" />
	<bean id="ourlsExtract" class="com.extract.OUrlsExtract" />
	<bean id="pubTimeExtract" class="com.extract.PubTimeExtract" />
	<bean id="replyNumberExtract" class="com.extract.ReplyNumExtract" />
	<bean id="templateExtract" class="com.extract.TemplateExtract" />
	<bean id="titleExtract" class="com.extract.TitleExtract" />
	<bean id="transNumExtract" class="com.extract.TransNumExtract" />

	<!-- ExtractChain -->
	<bean id="extractChain" class="com.extract.ExtractChain">
		<property name="extracts">
			<list>
				<ref bean="decodingExtract" />
				<ref bean="ourlsExtract" />
				<ref bean="templateExtract" />
				<ref bean="titleExtract" />
				<ref bean="contentExtract" />
				<ref bean="pubTimeExtract" />
				<ref bean="replyNumberExtract" />
				<ref bean="transNumExtract" />
			</list>
		</property>
	</bean>

	<!-- MongoDB -->
	<bean id="mongoDB" class="com.util.MongoUtil">
		<constructor-arg index="0">
			<value>125.211.218.8</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>27017</value>
		</constructor-arg>
		<constructor-arg index="2">
			<value>nutch</value>
		</constructor-arg>
	</bean>

	<!-- Data Source -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/yuqing" />
		<property name="username" value="root" />
		<property name="password" value="password" />
	</bean>

	<!-- Session Factory -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>com.model</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>
	</bean>

	<!-- HibernateTemplate -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<!-- CommonDAO -->
	<bean id="commonDAO" class="com.dao.CommonDAO">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<!-- Cache -->
	<bean id="cache" class="com.util.CacheStore">
		<property name="commonDAO" ref="commonDAO" />
		<property name="interval" value="5" />
		<property name="config">
			<list>
				<array>
					<value>test</value>
					<value>from Source</value>
					<value>5</value>
				</array>
				<array>
					<value>topic</value>
					<value>from Topic</value>
					<value>5</value>
				</array>
			</list>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- <bean id="testJob" class="com.nutch.manager.job.TestJob" /> <bean id="jobtask" 
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"> 
		<property name="targetObject"> <ref bean="testJob" /> </property> <property 
		name="targetMethod"> <value>work</value> </property> </bean> <bean id="schedule" 
		class="org.springframework.scheduling.quartz.CronTriggerBean"> <property 
		name="jobDetail"> <ref bean="jobtask" /> </property> <property name="cronExpression"> 
		<value>10,15,20,25,30,35,40,45,50,55 * * * * ?</value> </property> </bean> 
		<bean id="quertz" lazy-init="true" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> 
		<property name="triggers"> <list> <ref bean="schedule" /> </list> </property> 
		</bean> -->
</beans>