<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pss.dao.purchase.GoodCategoryMapper">
	<resultMap type="com.pss.domain.model.entity.purchase.GoodCategory"
		id="GoodCategoryMapper">
		<id property="id" column="id" />
		<result property="tenant" column="tenant" />
		<result property="categoryName" column="name" />
		<result property="categoryDesc" column="desc" />
	</resultMap>

	<insert id="add" parameterType="com.pss.domain.model.entity.purchase.GoodCategory">
		insert into
		category(id,tenant,name,desc)
		values(#{id},#{tenant},#{categoryName},#{categoryDesc});
	</insert>

	<delete id="delete" parameterType="java.lang.String">
		delete from category where
		id=#{id}
	</delete>

	<update id="update" parameterType="com.pss.domain.model.entity.purchase.GoodCategory">
		update category set name =
		#{categoryName},desc = #{categoryDesc}
		where id = #{id}
	</update>

	<select id="findById" parameterType="java.lang.String"
		resultMap="GoodCategoryMapper">
		select * from category where id=#{id}
	</select>

	<select id="findByEntity" parameterType="com.pss.domain.model.entity.purchase.GoodCategory"
		resultMap="GoodCategoryMapper">
		select * from category where tenant = #{tenant} and name =
		#{categoryName} limit 1
	</select>

	<select id="queryByEntity" parameterType="com.pss.domain.model.entity.purchase.GoodCategory"
		resultMap="GoodCategoryMapper">
		select * from category where tenant = #{tenant} and name =
		#{categoryName}
	</select>

	<select id="queryByParams" parameterType="java.util.Map"
		resultMap="GoodCategoryMapper">
		select * from category where tenant = #{tenant}
		<if test="entity.categoryName!=null">
			and name = #{entity.categoryName}
		</if>
		limit
		#{offset},#{limit}
	</select>

	<select id="countByEntity" parameterType="com.pss.domain.model.entity.purchase.GoodCategory"
		resultType="java.lang.Integer">
		select count(*) from category where tenant = #{tenant}
		<if test="categoryName!=null">
			and name like '%${categoryName}%'
		</if>
	</select>

	<select id="countByParams" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select count(*) from category where tenant = #{tenant}
		<if test="entity.categoryName!=null">
			and name like '%${entity.categoryName}%'
		</if>
	</select>

</mapper>